body{
    display: flex;
    justify-content: center;
}
.inp{
    width: 50%;
    height: 2rem;
}
.btn{
    width: 10%;
    border-radius: 0 100000000000000000000000px 10000000000000000000000000px 0;
}

